@import '../../var.scss';

.inputRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.inputRowItemTitle {
  flex: 1 1 45%;
}
.inputRowItemField {
  flex: 1 1 55%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
.required {
  color: $required;
}
.wrapperInputSelect {
  width: 100%;
  position: relative;
  &::before {
    content: "";
    background-color: $lightGrey;
    position: absolute;
    right: 37px;
    width: 1px;
    height: 22px;
    top: 8px;
    pointer-events: none;
  }
  span {
    position: absolute;
    pointer-events: none;
    background-color: $white;
    width: 25px;
    height: 25px;
    right: 2px;
    top: 7px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      transform: rotate(45deg);
      height: 10px;
      background-color: $lightGrey;
      right: 12px;
      top: 7px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      transform: rotate(-45deg);
      height: 10px;
      background-color: $lightGrey;
      right: 18px;
      top: 7px;
    }
  }
}
.wrapperInputText {
  width: 100%;
}
